.accordion {
  border: 2px solid #777474;
  margin-bottom: 15px;

  &header {
    cursor: pointer;
    background-color: #ec9c9c;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
  }
  &title {
    display: flex;
    align-items: center;
    margin: 0;
  }
  &icon {
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s ease;
  }
  &content {
    padding: 8px;
    border-top: 1px solid #777474;
    background-color: #ec9c9c;
  }
  &__arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
  }
}

.accordion_row {
  cursor: pointer;
  background-color: darkgrey;
  border: 1px solid black;
  display: block;
  padding: 10px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease;

  &__content {
    display: none;
  }

  &__open {
    background-color: red;
    .accordion_row__content {
      display: block;
    }
  }
}
