.accordion {
  margin: 10px;
  border-top: 5px solid green;
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  border-radius: 20px;

  &__title {
    margin: 0;
    cursor: pointer;
  
    &:hover {
      color: #cba3e2;
    }
}
}

.accordion_row {
  cursor: pointer;
  background-color: darkgrey;
  border: 1px solid black;
  display: block;
  padding: 10px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease;
  position: relative;
}

.accordion_row__open {
  background-color: red;
}

.accordion_row__arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

