.title {
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #cba3e2;
  }
}

.arrow {
  transition: transform 0.3s ease;

  &.open {
    transform: rotate(180deg);
  }

  &.accordion_row_arrow {
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
