.flash {
    background-color: orange;

    &.success {
        background-color: green;
        border: 1px solid black;
    }

    &.error {
        background-color: red;
        border: 1px solid black;
    }
}
