

.accordion {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        cursor: pointer;
    }
    &__title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem; 
    }
    &__description {
        padding: 0.5rem;
        display: none;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
    }
}